@import '~antd/dist/antd.css';

body {
  background-color: transparent;
  font-family: 'Open Sans', sans-serif;
  color: #333333;
  height: 100%;
}

#root {
  height: 100%;
}

p {
  margin: 0;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-device-width: 736px) {
  input, input:focus, select, select:focus, textarea, textarea:focus {
    font-size: 16px !important;
  }
}

.ant-popover-inner {
  border-radius: 12px;
}

.ant-radio-button-wrapper {
  font-size: 16px;
}

.ant-radio-button-wrapper:first-child {
  border-radius: 8px 0 0 8px;
}

.ant-radio-button-wrapper:last-child {
  border-radius: 0 8px 8px 0;
}

.ant-message-notice-content {
  border-radius: 12px;
}

.ant-input {
  border-radius: 12px;
  height: auto;
}

.ant-input[disabled] {
  background-color: white;
  color: black;
  border: none;
  padding: 0;
  height: auto;
}

.ant-btn[disabled] {
  opacity: 0.4;
}
